@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

body {
  margin: 0;
  height: 100vh;
  width: 375px;
  overflow: hidden;
  font-family: 'Barlow Semi Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(hsl(214, 47%, 23%),hsl(237, 49%, 15%));
  background-repeat: no-repeat, repeat, repeat;
}

.game {
	width: 50%;
	margin: 3em auto;
}

header {
	display: flex;
	width: 100%;
	padding: 1em;
	border: solid hsl(217, 16%, 45%) 1px;
	border-radius: 15px;
	justify-content: space-between;
	align-items: center;

	#score {
		display: inline-block;
		background-color: white;
		height: 15%;
		width: 25%;
		padding: .6em;
		border-radius: 1em;
		text-align: center;

		h2 {
			margin: 0;
			color: hsl(229, 64%, 46%);
			font-weight: 700;
			font-size: 1.2em;
			text-transform: uppercase;
		}

		p {
			margin: 0;
			color: hsl(229, 25%, 31%);
			font-size: 90px;
		}
	}
}

main {
	display: flex;
	flex-wrap: wrap;
	height: auto;
	width: 100%;
	justify-content: space-evenly;
	background-image: url(assets/bg-triangle.svg);
	background-position: center;
	background-repeat: no-repeat, repeat, repeat;
}

.pick {
	display: flex;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	margin: 50px;
	justify-content: center;
	align-items: center;
	-webkit-filter: brightness(100%);
	-moz-transition: all 1s;
    -webkit-transition: all 1s;
	transition: all 1s;
	
	&.rock {
		background: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
	}

	&.paper {
		background: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
	}

	&.scissors {
		background: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
	}

	.inner-circle {
		display: flex;
		background-color: lightgray;
		border-radius: 50%;
		width: 110px;
		height: 110px;
		justify-content: center;
		align-items: center;
	}

	&:hover {
		-webkit-filter: brightness(70%);
	}
}

@media (min-width: 1366px){
	body {
		width: 1366px;
	}	
}